body {
  background: var(--backgroundColor);
}

.block {
  position: relative;
  display: flex;
  justify-content: center;
  animation-fill-mode: forwards !important;
}

.block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: var(--borderRadius);
  width: 100%;
  height: 100%;
  z-index: 300;
  opacity: 0;
  animation-fill-mode: forwards !important;
}

.bridge {
  position: absolute;
  z-index: 100;
  background: #fff;
  opacity: 0;
  animation-fill-mode: forwards !important;
}

.bridge::before,
.bridge::after {
  content: ' ';
  position: absolute;
  z-index: 200;
  background: var(--backgroundColor);
  border-radius: var(--borderRadius);
  animation-fill-mode: forwards !important;
}
