.block.bridge-top-left-corner {
  justify-content: flex-start;
}

.bridge-top-left-corner .block-content {
  animation: 600ms ease blockAppearCorner;
}

.bridge-top-left-corner .bridge {
  width: calc(var(--bridgeThickness) * 2);
  height: calc(var(--bridgeThickness) * 2);
  left: calc(-2.5 * var(--blockSpacing));
  top: calc(-2.5 * var(--blockSpacing));
  opacity: 1;
}

.bridge-top-left-corner .bridge::before {
  bottom: calc(var(--bridgeThickness) / 1.5);
  left: calc(var(--bridgeThickness) / 1.5);
  height: calc(var(--bridgeThickness) * 3);
  width: calc(var(--bridgeThickness) * 3);
  border-radius: 100%;
  animation: 400ms bridgeBeforeAppearCorner;
}

.bridge-top-left-corner .bridge:after {
  top: calc(var(--bridgeThickness) / 1.5);
  right: calc(var(--bridgeThickness) / 1.5);
  height: calc(var(--bridgeThickness) * 3);
  width: calc(var(--bridgeThickness) * 3);
  border-radius: 100%;
  animation: 400ms bridgeAfterAppearCorner;
}